.container-fluid{
    padding-left:100px ;
  

}
.navbar-nav{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left:500px;
}
nav{
    background-color: rgba(244, 244, 244, 0.408);
}
body{
    background-color: hsla(260, 75%, 16%, 0.804);
    color: white;
}

.home{
    width: auto;
    height: auto;
  
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.home h1{
    text-align: center;
}
.card-body2{
    background-color: transparent;
}
.card2{
    display: flex;
    flex-direction: column;
    transition: 1s ease;

}
.card2:hover{
    transform: scale(1.2);
}
